@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #000000;
  --catalina: #062e8a;
  --bluetiful: #2b8eff;
  --vegan: #a8d5ba;
  --sunglow: #ffcc33;
  --white: #ffffff;
  --light-blue: #add8e6;
  --montserrat: Montserrat;
}

HTML{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--montserrat);
  background-color: var(--catalina);
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
display: flex;
justify-content: center;
padding: 0;
margin: 0;
align-items: center;
}

h1 {
  display: flex;
  flex-direction: wrap;
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem;
  color: var(--white);
  align-items: start;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase
}

h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

 nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  color: var(--white);
}

.contact-btn {
  display: inline-block;
  background-color: var(--sunglow);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.contact-btn:hover {
  background-color: var(--light-blue);
}

.footer {
  justify-content: center;
  font-family: var(--montserrat);
  color: var(--white);
}

@media (min-width: 650px) {
   
}

@media (min-width: 1000px) {
   header {
    justify-content: space-between;
    align-items:center;
    gap: 2rem;
   }
  
}








/* BASIC FORMATTING */ 
HTML{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
}
